h1 {
    letter-spacing: 7vw;
    font-size: 5rem;
}
h1, h2 {
    font-family: "Courier New", monospace;
}

#wallpaper {
    height: 100%;
    width: 100%;
    position: fixed;
}

/*@media screen and (max-width: 1090px) {*/
    /*h1 {*/
        /*letter-spacing: 60px;*/
    /*}*/
/*}*/